WEB_PORT=8080
APP_HOME_TITLE=Ma collection
JEUXVIDEO_ODS_HOST_DIR=/Users/sebastien/Documents
JEUXVIDEO_ODS_FILENAME=JeuxVideo-v2.ods

AUTH_TOKEN_TTL_SECONDS=3600
AUTH_USERNAME=admin
AUTH_PASSWORD=change-me
AUTH_SECRET_KEY=cloud-collection-app-dev-secret