WEB_PORT=8080
DNS_NAME=mon-site-example.fr
APP_HOME_TITLE=Ma collection
JEUXVIDEO_ODS_FILE=../collection-example.ods
JEUXVIDEO_BACKUP_DIR=../backup
BACKEND_LOG_LEVEL=INFO
BACKEND_LOG_FILE_ENABLED=true
BACKEND_LOG_HOST_DIR=../logs
BACKEND_LOG_FILE_NAME=backend.log
BACKEND_LOG_FILE_MAX_BYTES=10485760
BACKEND_LOG_FILE_BACKUP_COUNT=30

AUTH_TOKEN_TTL_SECONDS=3600
AUTH_USERNAME=admin
AUTH_ENV_ENCRYPTION_KEY=generer-avec-scripts/generate_auth_env.py
AUTH_PASSWORD_ENCRYPTED=fernet:generer-avec-scripts/generate_auth_env.py
AUTH_SECRET_KEY_ENCRYPTED=fernet:generer-avec-scripts/generate_auth_env.py

APP_VERSION=0.1
DB_SCHEMA_NAME=cloudcollectionapp

POSTGRES_DB=cloudcollectionapp
POSTGRES_USER=cloudcollectionapp
POSTGRES_PASSWORD=changer-ce-mot-de-passe
POSTGRES_PASSWORD_ENCRYPTED=fernet:generer-avec-scripts/generate_auth_env.py

LETSENCRYPT_EMAIL=my-user@my-domain.com

EMAIL_DELIVERY_MODE=smtp
SMTP_FROM_EMAIL=noreply@mon-site-example.fr
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=smtp-user
SMTP_PASSWORD=smtp-password
SMTP_USE_TLS=true
