WEB_PORT=8080
APP_HOME_TITLE=Ma collection
JEUXVIDEO_ODS_FILE=../collection-example.ods

AUTH_TOKEN_TTL_SECONDS=3600
AUTH_USERNAME=admin
AUTH_ENV_ENCRYPTION_KEY=generer-avec-scripts/generate_auth_env.py
AUTH_PASSWORD_ENCRYPTED=fernet:generer-avec-scripts/generate_auth_env.py
AUTH_SECRET_KEY_ENCRYPTED=fernet:generer-avec-scripts/generate_auth_env.py
